# normalize text files to LF in the repo; keep binaries alone
* text=auto
*.json text
*.ts text
*.tsx text
*.js text
*.jsx text
*.css text
*.html text
# keep node binaries as binary
node_modules/** binary
